* {
  box-sizing: border-box;
}

:root {
  --border-color: grey;
  --cell-color: lightgreen;
  --cell-hover-color: #b2fab4;
}

html,
body,
#root,
.app {
  min-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

select {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  font-size: 18px;
  border: 5px solid var(--border-color);
  color: var(--border-color);
  font-weight: bold;
}

.title {
  color: var(--border-color);
}
